
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/login-practice.spec.ts
/tests/test-data.ts
/tests/my-first.spec.ts
/tests/playwright.dev/